.content {
  margin-top: 8rem;
  height: 550px;
  border-radius: 18px;
  box-shadow: 20px 20px 50px rgba(39, 39, 39, 0.5);
  background-color: #504E4E;
  max-width: 340px;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;

}
.input {
  display: flex;
  justify-content: start;
  width: 275px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
  background-color: rgba(194, 194, 194, 0.568);
}
.labels {
  color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: start;
}
.error {
  color: rgba(244, 59, 59, 0.968);
  font-weight: bold;
}
.button {
  margin-top: 0.8rem;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-weight: bold;
  color: rgba(240, 248, 255, 0.865);
  background: #9F63FF;
  width: 4rem;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 400px) {
    .content {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 360px) {
    .content {
        margin-top: 3rem;
    }
}