.content {
  margin-top: 8rem;
  height: 550px;
  border-radius: var(--boder-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-two);
  max-width: 340px;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;

}
.input {
  display: flex;
  justify-content: start;
  width: 275px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
  background-color: var(--background-input);
}
.labels {
  color: var(--color-font);
  display: flex;
  justify-content: start;
}
.error {
  color: var(--error);
  font-weight: bold;
}
.button {
  margin-top: 0.8rem;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-weight: bold;
  color: var(--color-white);
  background: var(--primary-color);
  width: 4rem;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 400px) {
    .content {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 360px) {
    .content {
        margin-top: 3rem;
    }
}