.container {
  margin-left: auto;
  margin-right: auto;
}
.container__contacts{
  margin: 1.5rem;
  border-radius: var(--boder-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-two);
  color: var(--color-font);
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  display: flex;
}

.contentContacts li{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 230px;
  font-size: 20px;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: #1313135a 2px solid;
}
.imgContact{
  margin-right: 1rem;
}
.links {
  text-decoration: none;
  color: var(--color-font);
  list-style: none;
}
.h2 {
  padding-right: 3rem;
  font-weight: bolder;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 750px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .container__contacts {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 360px) {
  .container__contacts {
    width: 320px;
  }
}
