.conteiner {
  margin-top: 6rem;
  margin-left: auto;
    margin-right: auto;
}
.conteiner h3{
 color: rgba(228, 228, 228, 0.927);
 font-size: 30px;
}
.conteiner img{
  width: 380px;
  height: 440px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 400px) {
  .conteiner img{
    width: 310px;
    height: 390px;
  }
  .conteiner h3{
    font-size: 25px;
   }
}

@media screen and (max-width: 360px) {
  .conteiner img{
    width: 260px;
    height: 340px;
  }
  .conteiner h3{
    font-size: 23px;
   }
}
