.conteiner {
  margin-top: 6rem;
  margin-left: auto;
    margin-right: auto;
}
.conteiner h3{
 color: var(--color-font);
 font-size: 30px;
}
.conteiner img{
  width: 330px;
  height: 410px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 400px) {
  .conteiner img{
    width: 300px;
    height: 380px;
  }
  .conteiner h3{
    font-size: 25px;
   }
}

@media screen and (max-width: 360px) {
  .conteiner img{
    width: 260px;
    height: 330px;
  }
  .conteiner h3{
    font-size: 23px;
   }
}
