.title__app {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title__app h3 {
  color: var(--color-font);
  font-size: 25px;
  margin-left: 0.5rem;
  font-weight: 400;
}



