@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Lato:wght@100&family=Raleway:wght@100;400&display=swap");

:root {
  --primary-color: #9F63FF;
  --color-white: rgba(240, 248, 255, 0.865);
  --error: rgba(244, 59, 59, 0.968);
  --background-input: rgba(194, 194, 194, 0.568);
  --boder-radius: 18px;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-dark-mode {
  --background-color: #e8e8e8;
  --background-color-two: #E6E6E6;
  --space-cadet: #9F63FF;
  --turquoise: #434343;
  --background: #FFFFFF;
  --color-font: #5a5a5acf;
  --box-shadow: 20px 20px 50px rgba(39, 39, 39, 0.5);
}
.is-light-mode {
  --background-color: #313131;
  --background-color-two: #504E4E;
  --space-cadet: #9F63FF;
  --turquoise: white;
  --background: #434343;
  --color-font: white;
}


